/* incorporated into regular stylesheet */
.lr-frame-closer {text-align:right;}
.results-lois-request-area.hidden {height:0; transition:height 1s; -webkit-transition: height 1s;}
.results-lois-request-area {width:100%; margin-top:4px;}
.results-lois-req-container {width: 760px; padding: 0; border: 1px solid #ccc; margin-left: 90px;}
.results-lois-req-controls {background:#ccc; border:1px solid #000; margin:0; padding:0 8px;}
.results-lois-req-container button {float:right;}
.new-win {color:#000 !important; text-decoration:underline !important; display:inline-block; margin-top:10px;}
.request-overflow {position:relative; overflow:hidden; width:760px; margin:0 auto -90px; padding-top:20px;}
.request-lois-iframe {position: relative; top: -90px; left: -4px; height:860px; }